<header>
    <span class="title">Contactez-moi</span>
</header>
<div class="contact">
    <span class="info-text">
        Je suis contactable soit par adresse e-mail : contact&#64;oscarprince.ch ou à travers le formulaire ci-dessous.
    </span>
    <form>
        <div class="user-info">
            <div class="contact-input">
                <label for="name">Nom</label>
                <input class="form-style" type="text" placeholder="Votre nom">
            </div>
            <div class="contact-input">
                <label for="email">E-mail</label>
                <input class="form-style" type="email" placeholder="Votre e-mail">
            </div>
        </div>
        <div class="contact-input">
            <label for="message">Message</label>
            <textarea class="form-style" placeholder="Votre message"></textarea>
        </div>
        <div class="actions">
            <button type="submit">Envoyer</button>
        </div>
    </form>
</div>