<div class="header">
    <div class="main">
        <span class="title">Bonjour ! Moi c'est Oscar Prince.</span>
        <div class="description">Je suis un développeur web passionné par l'informatique depuis une décennie, je conçois et développe des applications en mettant l'expérience utilisateur et son utilité en premier plan.</div>
    </div>
    <div class="photo">
        <img src="assets/moi2.jpg" alt="Photo Oscar Prince">
    </div>
</div>
<div class="console">
    <console></console>
</div>
