:host {
    header {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px 0;

        .title {
            font-size: 24px;
            font-family: 'Merriweather', serif;
        }
    }

    .projects {
        overflow: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .project {
            padding: 25px;
            border: 1px solid rgb(227, 227, 227);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                font-size: 18px;
                display: block;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .status {
                    display: inline;
                    font-size: 12px;
                    margin-left: 10px;
                    padding: 0 5px;
                    border-radius: 8px;
                }

                .under_development {
                    background-color: rgba(0, 0, 255, 0.1);
                }

                .archived {
                    background-color: rgba(255, 128, 0, 0.1);
                }

                .offline {
                    background-color: rgba(255, 0, 0, 0.1);
                }

                .online {
                    background-color: rgba(0, 255, 8, 0.1);
                }
            }

            .desc {
                color: grey;
                margin: 10px 0;
                display: block;
            }

            .links {
                display: flex;
                font-size: 14px;

                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px;
                    // text-decoration: none;
                    color: black;
                    border-radius: 8px;
                    border: 1px solid rgb(234, 234, 234);
                    cursor: pointer;

                    img {
                        margin-right: 5px;
                    } 
                }
            }

            .techonolgies {
                display: flex;
                margin-top: 5px;
                font-size: 14px;

                .technology {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px 5px;
                    border-radius: 8px;

                    img {
                        margin-right: 5px;
                    }

                    &:not(:first-child) {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }


    .error-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 800px) {
        .projects {
            grid-template-columns: 1fr;
        }
    }
}