/* You can add global styles to this file, and also import other style files */

html, body {
    // font-family: 'Mackinac Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: #252525;
}

@font-face {
    font-family: 'Mackinac Pro';
    src: url('assets/fonts/p22/MackinacProBold.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac';
    src: url('assets/fonts/p22/MackinacMediumItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Book SC';
    src: url('assets/fonts/p22/MackinacBookSCRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBookSCRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac SC';
    src: url('assets/fonts/p22/MackinacSCBold.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacSCBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Book';
    src: url('assets/fonts/p22/MackinacBookRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBookRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac SC';
    src: url('assets/fonts/p22/MackinacSCBoldItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacSCBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac';
    src: url('assets/fonts/p22/MackinacMediumRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro';
    src: url('assets/fonts/p22/MackinacProBoldItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Ex Bold SC';
    src: url('assets/fonts/p22/MackinacExBoldSCRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacExBoldSCRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Book';
    src: url('assets/fonts/p22/MackinacBookItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Medium SC';
    src: url('assets/fonts/p22/MackinacMediumSCItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacMediumSCItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Medium SC';
    src: url('assets/fonts/p22/MackinacMediumSCRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacMediumSCRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro Book';
    src: url('assets/fonts/p22/MackinacProBookItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Extra';
    src: url('assets/fonts/p22/MackinacExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Book SC';
    src: url('assets/fonts/p22/MackinacBookSCItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBookSCItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac';
    src: url('assets/fonts/p22/MackinacBold.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac';
    src: url('assets/fonts/p22/MackinacBoldItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Extra';
    src: url('assets/fonts/p22/MackinacExtraBoldRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Ex Bold SC';
    src: url('assets/fonts/p22/MackinacExBoldSCItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacExBoldSCItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro Extra';
    src: url('assets/fonts/p22/MackinacProExtraBoldRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProExtraBoldRegular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro';
    src: url('assets/fonts/p22/MackinacProMediumRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro Book';
    src: url('assets/fonts/p22/MackinacProBookRegular.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProBookRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro';
    src: url('assets/fonts/p22/MackinacProMediumItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mackinac Pro Extra';
    src: url('assets/fonts/p22/MackinacProExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/p22/MackinacProExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

